<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
</head>
<body>
<div id="div1">宫体:子宫呈前倾位,宫内膜显示欠清,宫腔增宽,积液,呈短T1长T2信号改变.结合带显示欠清.宫颈:弥漫性不规则增厚,累及长度约6cm,向上侵犯宫体下部,向下侵犯阴道上壁,结合带,内膜及浆膜层显示欠清,病变突破浆膜层侵犯宫旁脂肪间隙
</div>
<script type="text/javascript">
    $(document).ready(function () {
                txt = $("#div1").text()
                bytesCount=0
                for (var i = 0; i < txt.length; i++) {
                    var c = txt.charAt(i);
                    console.log(c)
                    if (/^[\u0000-\u00ff]$/.test(c)) {
                        bytesCount += 1;
                    }
                    else {
                        bytesCount += 3;
                    }
                    if (bytesCount==116) {
                        break
                    }
                }
                alert(txt.substring(0,i+1))
            }
        )
</script>
</body>
</html>